/* * {
    margin: 0px;
    padding: 0px;
} */

body {
    margin: 5px;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    color: blue;
}

h2, h3
 {
    color: lightseagreen;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
  }

footer {
    padding: 20px;
    color: white;
    background-color: #00a2c6;
}